.carousel {
  position: relative;
  width: 100%;
  max-width: 800px; /* Cambia el ancho según sea necesario */
  margin: 0 auto;
  overflow: hidden;
}

.carousel-inner {
  position: relative;
  width: 100%;
  height: 400px; /* Cambia la altura según sea necesario */
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Cambia la opacidad según sea necesario */
}

.slide-content {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.slide-text {
  color: white; /* Color del texto */
  font-size: 24px; /* Tamaño de fuente */
}

.navigation {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.arrow {
  color: white; /* Color de los íconos */
  font-size: 24px; /* Tamaño de los íconos */
  cursor: pointer;
}

.dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5); 
  /* Color de los puntos */
  cursor: pointer;
}

.dot.active {
  background-color: white; 
  /* Color del punto activo */
}


@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.slide-content {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  animation: slideIn 0.5s ease-in-out forwards;
}





.carrusel-container-gpt {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px; /* Ajusta la altura según tus necesidades */
}

.slide-gpt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s;
}

.slide-gpt.active {
  opacity: 1;
}

.text-gpt {
  height: 170px;
}

.text-container-gpt {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  transition: transform 0.5s;
}

.slide-gpt.active .text-container-gpt {
  transform: translate(-50%, -50%);
}

.custom-dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.dot-gpt {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 5px;
  cursor: pointer;
}

.dot-gpt.active {
  background-color: #000;
}
